init_config: null
instances:
- built_by: Neutron
  detailed: true
  dimensions:
    component: neutron-server
    service: networking
  exact_match: false
  name: neutron-server
  search_string:
  - neutron-server
- built_by: Neutron
  detailed: true
  dimensions:
    component: neutron-openvswitch-agent
    service: networking
  exact_match: false
  name: neutron-openvswitch-agent
  search_string:
  - neutron-openvswitch-agent
- built_by: Neutron
  detailed: true
  dimensions:
    component: neutron-dhcp-agent
    service: networking
  exact_match: false
  name: neutron-dhcp-agent
  search_string:
  - neutron-dhcp-agent
- built_by: Neutron
  detailed: true
  dimensions:
    component: neutron-metadata-agent
    service: networking
  exact_match: false
  name: neutron-metadata-agent
  search_string:
  - neutron-metadata-agent
- built_by: Neutron
  detailed: true
  dimensions:
    component: neutron-l3-agent
    service: networking
  exact_match: false
  name: neutron-l3-agent
  search_string:
  - neutron-l3-agent
- built_by: Glance
  detailed: true
  dimensions:
    component: glance-registry
    service: image-service
  exact_match: false
  name: glance-registry
  search_string:
  - glance-registry
- built_by: Glance
  detailed: true
  dimensions:
    component: glance-api
    service: image-service
  exact_match: false
  name: glance-api
  search_string:
  - glance-api
- built_by: Ironic
  detailed: true
  dimensions:
    component: ironic-api
    service: baremetal
  exact_match: false
  name: ironic-api
  search_string:
  - ironic-api
- built_by: Ironic
  detailed: true
  dimensions:
    component: ironic-conductor
    service: baremetal
  exact_match: false
  name: ironic-conductor
  search_string:
  - ironic-conductor
- built_by: Heat
  detailed: true
  dimensions:
    component: heat-api-cfn
    service: orchestration
  exact_match: false
  name: heat-api-cfn
  search_string:
  - heat-api-cfn
- built_by: Heat
  detailed: true
  dimensions:
    component: heat-engine
    service: orchestration
  exact_match: false
  name: heat-engine
  search_string:
  - heat-engine
- built_by: Barbican
  detailed: true
  dimensions:
    component: barbican-api
    service: key-manager
  exact_match: false
  name: barbican-api
  search_string:
  - barbican-api
- built_by: Magnum
  detailed: true
  dimensions:
    component: magnum-api
    service: container-infra
  exact_match: false
  name: magnum-api
  search_string:
  - magnum-api
- built_by: Magnum
  detailed: true
  dimensions:
    component: magnum-conductor
    service: container-infra
  exact_match: false
  name: magnum-conductor
  search_string:
  - magnum-conductor
- built_by: HAProxy
  detailed: true
  dimensions:
    service: haproxy
  exact_match: false
  name: haproxy
  search_string:
  - haproxy
- built_by: HAProxy
  detailed: true
  dimensions:
    service: haproxy
  exact_match: false
  name: keepalived
  search_string:
  - keepalived
- built_by: Nova
  detailed: true
  dimensions:
    component: nova-compute
    service: compute
  exact_match: false
  name: nova-compute
  search_string:
  - nova-compute
- built_by: Nova
  detailed: true
  dimensions:
    component: nova-conductor
    service: compute
  exact_match: false
  name: nova-conductor
  search_string:
  - nova-conductor
- built_by: Nova
  detailed: true
  dimensions:
    component: nova-scheduler
    service: compute
  exact_match: false
  name: nova-scheduler
  search_string:
  - nova-scheduler
- built_by: Nova
  detailed: true
  dimensions:
    component: nova-novncproxy
    service: compute
  exact_match: false
  name: nova-novncproxy
  search_string:
  - nova-novncproxy
- built_by: Nova
  detailed: true
  dimensions:
    component: nova-consoleauth
    service: compute
  exact_match: false
  name: nova-consoleauth
  search_string:
  - nova-consoleauth
- built_by: Nova
  detailed: true
  dimensions:
    component: nova-api
    service: compute
  exact_match: false
  name: nova-api
  search_string:
  - nova-api
- built_by: Ovsvapp
  detailed: true
  dimensions:
    component: ovsdb-server
    service: OVSvApp-ServiceVM
  exact_match: false
  name: ovsdb-server
  search_string:
  - ovsdb-server
- built_by: Ovsvapp
  detailed: true
  dimensions:
    component: ovs-vswitchd
    service: OVSvApp-ServiceVM
  exact_match: false
  name: ovs-vswitchd
  search_string:
  - ovs-vswitchd
